body {
    margin: 0;
    background: #e9dfd3;
    font-family: Georgia, serif;
}

.wrapper {
    max-width: 1000px;
    margin: 30px auto;
    background: #f5efe7;
    border: 8px solid #b8aea3;
    padding-bottom: 40px;
}


header {
    background: #f47b20;
    color: white;
    padding: 40px 0;
    text-align: right;
    font-size: 32px;
    font-weight: bold;
    padding-right: 40px;
    letter-spacing: 2px;
    font-family: 'Georgia', serif;
}


nav {
    background: #3d2f2a;
    text-align: center;
    padding: 12px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: 14px;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}


.container {
    width: 85%;
    margin: 40px auto;
}


h1 {
    font-size: 52px;
    color: #3b2b26;
    margin-bottom: 20px;
}


p {
    color: #3b2b26;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 25px;
}
