
body {
    margin: 0;
    background-color: beige;
    font-family: Georgia, serif;
}

.wrapper {
    max-width: 1000px;
    margin: 30px auto;
    background-color: seashell; 
    border: 8px;
    border-color: tan;
    padding-bottom: 40px;
}

header {
    background-color: orange;
    color: white;
    padding: 40px 0;
    text-align: right;
    font-size: 32px;
    font-weight: bold;
    padding-right: 40px;
    letter-spacing: 2px;
    font-family: Georgia, serif;
}


nav {
    background-color: saddlebrown;   
    text-align: center;
    padding: 12px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    font-size: 14px;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}


.container {
    width: 85%;
    margin: 40px auto;
}


h1 {
    font-size: 52px;
    color: sienna;   
    margin-bottom: 20px;
}


p {
    color: saddlebrown;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 25px;
}
